
* {
    box-sizing: border-box;
  }

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(45deg, #131086, #b621f3);
  padding: 40px;
}

.container {
  min-height: auto;
  display: grid;
  grid-template-columns: 100%;
  border-radius: 100px;
  overflow:hidden
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px;
  background-color: white;
}

.login-header {
  margin-bottom: 10px;
}
.login-header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.login-header p {
  opacity: 0.7;
}

.login-form {
  width: 450px;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.login-form-footer {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
.login-form-footer a {
  flex: 6;
  gap: 15px;
  border-radius: 100px;
  padding: 0.6rem;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.login-form-footer a:hover {
  background-color: #ffffff;
}


.form-item label:not(.checkboxLabel) {
  display: inline-block;
  background-color: white;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(30px, -10px);
  font-size: 14px;
}

input[type=text],
input[type=password],
input[type=email] {
  border: 1px solid black;
  outline: none;
  height: 55px;
  padding: 0 2rem;
  border-radius: 40px;
  width: 100%;
  transition: background 0.5s;
  font-size: 18px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  border-color: #131086;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: #131086;
}

button {
  border: none;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  height: 55px;
  cursor: pointer;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display:inline-block;
  padding: 12px 36px;
  margin:10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size:18px;
  letter-spacing: 2px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg, #131086, #b621f3);
}

span{
    position: absolute;
    background: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite; 
}
@keyframes animate{
    0%
    {
        width: 0%;
        height: 0%;
        opacity: 0.5;
    }
    100%
    {
        width: 300%;
        height: 500%;
        opacity: 0;
    }
}

/* Responsive */
@media (max-width: 1350px) {
    .login-left {
      padding: 80px !important;
    }
    .login-form {
      width: 100%;
    }
    .login-form-footer {
      flex-direction: column;
      gap: 15px;
    }
  }
  @media (max-width: 768px) {
    body {
      padding: 20px;
    }
    .container {
      grid-template-columns: auto;
    }
    .login-right {
      display: none;
    }

}

.im{
  text-align: center;
}